body {
    img {
        position: absolute;
        width: 20vw;
        height: 40vh;
        transform: rotate(45deg);
        left: 20vw;
        top: 20vh;
    }
}

// // --------------------------------------------------- Titulo y fondo ------------------------------------------------------
:root {
    background: radial-gradient(#050526 0%, black 90%) -20vw 10vh no-repeat black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    perspective: 340px;
    height: 100%;
    overflow: hidden;
}

.centered {
    position: absolute;
    left: 50vw;
    top: 10vh;
    transform: translateX(-50%) translateY(-50%) rotateX(15deg);
    text-align: center;
}

.cyberspace {
    position: relative;
    font-family: 'Cyberspace-Raceway-Back', sans-serif;
    font-size: 10vmin;
    color: black;
    -webkit-text-fill-color: rgba(135, 209, 228, 1);
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: rgba(135, 209, 228, 1);
    filter: url(#extrude);
}

$stars: 350; // Number of start per layer
$depth: 300; // Depth between star layers
$speed: 10s; // Number of seconds to transition between layers
$width: 3000; // Width of the starfield
$height: 960; // Height of the starfield
.stars {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    $box-shadow: ();
    @for $i from 0 through $stars {
        $box-shadow: $box-shadow, (random($width)-$width/2 + px) (random($height)-$height/2 + px) hsl(90, 0, 75+random(25));
    }
    box-shadow: $box-shadow;
    animation: fly $speed linear infinite;
    transform-style: preserve-3d;
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        box-shadow: inherit;
    }
    &:before {
        transform: translateZ(-$depth + px);
        animation: fade1 $speed linear infinite;
    }
    &:after {
        transform: translateZ(-$depth * 2 + px);
        animation: fade2 $speed linear infinite;
    }
}

@keyframes fly {
    from {
        transform: translateZ(0px);
    }
    to {
        transform: translateZ($depth + px);
    }
}

@keyframes fade1 {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade2 {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    }
}

// ------------------------------fin titulo y fondo----------------------------------------------
// ------------------------------------- Botones -----------------------------------------------
$button-height: 3rem;
$color-text: rgba(0, 0, 0, 0.25);
$color-text-shadow: rgba(255, 255, 255, 0.15);
$color-page-bg: #b9b5aa;
$color-bg: #899095;
$color-bg-light: #969da3;
$color-bg-dark: #7d878f;
$color-overlay-light: rgba(255, 255, 255, 0.2);
$color-overlay-medium: rgba(0, 0, 0, 0.1);
$color-overlay-dark: rgba(0, 0, 0, 0.2);
$color-tab-focus: rgba(255, 255, 255, 0.15);
.red-button {
    background-color: #e44e55;
    box-shadow: inset 0.5rem 0.5rem 0.25rem #e47479;
}

.green-button {
    background-color: #00a07d;
    box-shadow: inset 0.5rem 0.5rem 0.25rem #30c5a5;
}

.blue-button {
    background-color: #004ead;
    box-shadow: inset 0.5rem 0.5rem 0.25rem #3981ca;
}

.yellow-button {
    background-color: #ffc054;
    box-shadow: inset 0.5rem 0.5rem 0.25rem #ffd996;
}

.retro-button,
a {
    position: relative;
    text-decoration: none;
    appearance: none;
    box-sizing: border-box;
    font-size: calc($button-height/ 3);
    font-family: "Open Sans", sans-serif;
    // background: $color-bg;
    height: $button-height;
    min-width: $button-height;
    border-radius: calc($button-height / 2);
    border: 0;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-text;
    text-shadow: 1px 1px $color-text-shadow;
    cursor: pointer;
    margin: 6px 6px;
    letter-spacing: 0.1em;
    transition: all 200ms ease;
    box-shadow: -1px -1px 1px var($color-bg), //top highlight
    0 0 0 4px var($color-overlay-medium), //outer shadow
    1px 1px 1px var($color-bg-dark), //bottom lowlight
    inset 0 0 0 var($color-overlay-dark), //inset shadow
    inset 0.5rem 0.5rem 0.25rem var($color-bg-light); //button gloss
}

.retro-button::-moz-focus-inner {
    outline: none;
    border: none;
}

.retro-button:hover {
    box-shadow: -1px -1px 1px $color-bg-dark, //top highlight
    0 0 0 4px $color-overlay-dark; //outer shadow
}

// Presentation Styles
body {
    background: var($color-page-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 1px solid $color-page-bg;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: inset 20vw 20vw 30vw rgba(255, 255, 255, 0.05), inset -20vw -20vw 30vw rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.presentation-content {
    text-align: center;
    position: absolute;
    top: 60vh;
}

.presentation-title {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.top-button-group {
    display: flex;
    padding-bottom: 1rem;
    &>* {
        flex: 1;
    }
}

.bottom-button-group {
    background: $color-bg;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -1px -1px 1px $color-bg-light, inset -1px -1px 1px $color-bg-dark;
}

//   ---------------------- Fin botones -----------------------