body img {
  position: absolute;
  width: 20vw;
  height: 40vmin;
}
body .naveW {
  transform: rotate(45deg);
  left: 20vw;
  top: 20vh;
}
body .alien {
  left: 60vw;
  top: 20vh;
  transform: scale(0.7);
}
body .alienNave {
  transform: scale(0.5);
  left: 10vw;
  top: 50vh;
}

:root {
  background: radial-gradient(#050526 0%, black 90%) -20vw 10vh no-repeat black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  perspective: 340px;
  height: 100%;
  overflow: hidden;
}

.centered {
  position: absolute;
  left: 50vw;
  top: 10vh;
  transform: translateX(-50%) translateY(-50%) rotateX(15deg);
  text-align: center;
}

.cyberspace {
  position: relative;
  font-family: "Cyberspace-Raceway-Back", sans-serif;
  font-size: 10vmin;
  color: black;
  -webkit-text-fill-color: rgb(135, 209, 228);
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: rgb(135, 209, 228);
  filter: url(#extrude);
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  box-shadow: 169px 335px hsl(90deg, 0%, 89%), -940px 268px hsl(90deg, 0%, 98%), 159px -454px hsl(90deg, 0%, 99%), 1158px 90px hsl(90deg, 0%, 83%), -332px 203px hsl(90deg, 0%, 84%), 936px 147px hsl(90deg, 0%, 78%), 114px 207px hsl(90deg, 0%, 81%), 496px 61px hsl(90deg, 0%, 90%), 103px 441px hsl(90deg, 0%, 91%), 817px 160px hsl(90deg, 0%, 95%), 713px 243px hsl(90deg, 0%, 85%), -901px 177px hsl(90deg, 0%, 84%), 1055px 82px hsl(90deg, 0%, 76%), 717px 49px hsl(90deg, 0%, 93%), -1296px -78px hsl(90deg, 0%, 98%), -223px 117px hsl(90deg, 0%, 98%), 287px -248px hsl(90deg, 0%, 99%), -983px -339px hsl(90deg, 0%, 86%), -1158px -92px hsl(90deg, 0%, 96%), -503px 452px hsl(90deg, 0%, 98%), 379px -358px hsl(90deg, 0%, 87%), -1215px -182px hsl(90deg, 0%, 90%), -637px 29px hsl(90deg, 0%, 91%), -424px 436px hsl(90deg, 0%, 76%), 1478px -444px hsl(90deg, 0%, 83%), -985px 217px hsl(90deg, 0%, 76%), -1402px 55px hsl(90deg, 0%, 96%), 680px -119px hsl(90deg, 0%, 94%), 1108px -45px hsl(90deg, 0%, 91%), -96px 95px hsl(90deg, 0%, 80%), 1199px -187px hsl(90deg, 0%, 89%), -1442px 58px hsl(90deg, 0%, 100%), 380px 462px hsl(90deg, 0%, 90%), 1063px 172px hsl(90deg, 0%, 91%), -1471px 121px hsl(90deg, 0%, 83%), -710px -228px hsl(90deg, 0%, 100%), 225px -200px hsl(90deg, 0%, 99%), -1113px -168px hsl(90deg, 0%, 85%), 299px -270px hsl(90deg, 0%, 78%), -1209px 43px hsl(90deg, 0%, 92%), 247px 267px hsl(90deg, 0%, 88%), 672px 388px hsl(90deg, 0%, 86%), 1230px 378px hsl(90deg, 0%, 87%), -379px -378px hsl(90deg, 0%, 89%), -383px -478px hsl(90deg, 0%, 90%), 1434px 201px hsl(90deg, 0%, 86%), -599px 312px hsl(90deg, 0%, 86%), -984px -108px hsl(90deg, 0%, 100%), 1388px -283px hsl(90deg, 0%, 95%), 703px -144px hsl(90deg, 0%, 83%), 530px 172px hsl(90deg, 0%, 96%), -1204px -328px hsl(90deg, 0%, 92%), 1488px -315px hsl(90deg, 0%, 76%), -639px 373px hsl(90deg, 0%, 83%), -1356px 140px hsl(90deg, 0%, 100%), 884px -72px hsl(90deg, 0%, 78%), 444px 256px hsl(90deg, 0%, 95%), 346px -417px hsl(90deg, 0%, 76%), 753px -343px hsl(90deg, 0%, 99%), 545px -204px hsl(90deg, 0%, 78%), 1417px -263px hsl(90deg, 0%, 100%), 169px 312px hsl(90deg, 0%, 95%), -1404px -315px hsl(90deg, 0%, 93%), -625px 384px hsl(90deg, 0%, 76%), -427px 384px hsl(90deg, 0%, 91%), -1162px 317px hsl(90deg, 0%, 100%), -625px 279px hsl(90deg, 0%, 100%), -1374px 380px hsl(90deg, 0%, 88%), -1111px 430px hsl(90deg, 0%, 78%), -927px 414px hsl(90deg, 0%, 80%), -1207px 93px hsl(90deg, 0%, 87%), -1178px -177px hsl(90deg, 0%, 80%), 435px 70px hsl(90deg, 0%, 76%), 171px 330px hsl(90deg, 0%, 76%), 793px -203px hsl(90deg, 0%, 92%), -909px 85px hsl(90deg, 0%, 78%), 610px 71px hsl(90deg, 0%, 83%), -646px 86px hsl(90deg, 0%, 84%), 163px -185px hsl(90deg, 0%, 84%), -616px -161px hsl(90deg, 0%, 95%), -334px 52px hsl(90deg, 0%, 96%), 1306px 285px hsl(90deg, 0%, 85%), -249px -390px hsl(90deg, 0%, 93%), -859px -203px hsl(90deg, 0%, 86%), 694px 192px hsl(90deg, 0%, 78%), -1302px -335px hsl(90deg, 0%, 92%), 1454px -22px hsl(90deg, 0%, 98%), 1172px 277px hsl(90deg, 0%, 77%), 922px 242px hsl(90deg, 0%, 88%), -1243px 287px hsl(90deg, 0%, 95%), 207px -380px hsl(90deg, 0%, 78%), 1426px -277px hsl(90deg, 0%, 79%), -1456px -39px hsl(90deg, 0%, 89%), -868px -80px hsl(90deg, 0%, 89%), 130px 130px hsl(90deg, 0%, 88%), -747px 91px hsl(90deg, 0%, 98%), 924px 349px hsl(90deg, 0%, 91%), 541px -56px hsl(90deg, 0%, 87%), -370px -256px hsl(90deg, 0%, 80%), -599px -470px hsl(90deg, 0%, 76%), 1282px -106px hsl(90deg, 0%, 80%), -355px 42px hsl(90deg, 0%, 100%), -635px 449px hsl(90deg, 0%, 96%), -199px 250px hsl(90deg, 0%, 78%), -1046px 157px hsl(90deg, 0%, 95%), 1494px 40px hsl(90deg, 0%, 78%), -504px 383px hsl(90deg, 0%, 97%), -1368px -222px hsl(90deg, 0%, 88%), -440px -76px hsl(90deg, 0%, 89%), 1309px 169px hsl(90deg, 0%, 91%), 1442px 89px hsl(90deg, 0%, 81%), 222px 107px hsl(90deg, 0%, 98%), 559px 156px hsl(90deg, 0%, 87%), -1028px -229px hsl(90deg, 0%, 92%), 192px -263px hsl(90deg, 0%, 99%), 1256px -52px hsl(90deg, 0%, 80%), -1034px -83px hsl(90deg, 0%, 98%), 416px 211px hsl(90deg, 0%, 91%), 1449px -397px hsl(90deg, 0%, 82%), 1083px -49px hsl(90deg, 0%, 94%), -807px 285px hsl(90deg, 0%, 96%), 127px 16px hsl(90deg, 0%, 85%), -407px -124px hsl(90deg, 0%, 84%), 1029px 264px hsl(90deg, 0%, 100%), 1495px 285px hsl(90deg, 0%, 85%), -710px -304px hsl(90deg, 0%, 92%), -911px 246px hsl(90deg, 0%, 81%), -844px 452px hsl(90deg, 0%, 95%), -28px 194px hsl(90deg, 0%, 94%), -160px -23px hsl(90deg, 0%, 84%), 1243px 113px hsl(90deg, 0%, 78%), 1180px 261px hsl(90deg, 0%, 81%), -834px 379px hsl(90deg, 0%, 76%), -1057px -342px hsl(90deg, 0%, 80%), -595px -155px hsl(90deg, 0%, 77%), 1366px 175px hsl(90deg, 0%, 96%), -822px -94px hsl(90deg, 0%, 82%), -1380px 233px hsl(90deg, 0%, 90%), 792px -385px hsl(90deg, 0%, 92%), -992px -354px hsl(90deg, 0%, 85%), 1357px -118px hsl(90deg, 0%, 94%), -768px 441px hsl(90deg, 0%, 96%), 471px 427px hsl(90deg, 0%, 99%), -819px 472px hsl(90deg, 0%, 87%), 1198px -162px hsl(90deg, 0%, 98%), -141px -340px hsl(90deg, 0%, 77%), 377px 366px hsl(90deg, 0%, 98%), -788px -361px hsl(90deg, 0%, 79%), -1020px 280px hsl(90deg, 0%, 96%), 856px -225px hsl(90deg, 0%, 84%), -640px 420px hsl(90deg, 0%, 85%), 489px 171px hsl(90deg, 0%, 95%), 1335px -362px hsl(90deg, 0%, 78%), 48px -244px hsl(90deg, 0%, 99%), 1257px -353px hsl(90deg, 0%, 77%), -393px 210px hsl(90deg, 0%, 99%), 580px 432px hsl(90deg, 0%, 93%), -11px 51px hsl(90deg, 0%, 84%), 796px -209px hsl(90deg, 0%, 86%), 61px -435px hsl(90deg, 0%, 88%), 1369px -268px hsl(90deg, 0%, 96%), -1133px 146px hsl(90deg, 0%, 95%), -339px -362px hsl(90deg, 0%, 92%), -1261px 257px hsl(90deg, 0%, 91%), -1495px 133px hsl(90deg, 0%, 97%), 321px -30px hsl(90deg, 0%, 83%), 118px -405px hsl(90deg, 0%, 97%), -802px 393px hsl(90deg, 0%, 89%), 1252px -284px hsl(90deg, 0%, 97%), -167px 1px hsl(90deg, 0%, 79%), 1227px 234px hsl(90deg, 0%, 83%), -423px -263px hsl(90deg, 0%, 79%), -570px 391px hsl(90deg, 0%, 86%), 668px 20px hsl(90deg, 0%, 76%), -577px 88px hsl(90deg, 0%, 99%), -68px 442px hsl(90deg, 0%, 84%), -1443px 176px hsl(90deg, 0%, 82%), 1208px -148px hsl(90deg, 0%, 100%), -176px -223px hsl(90deg, 0%, 90%), -448px 167px hsl(90deg, 0%, 79%), 1154px -466px hsl(90deg, 0%, 99%), -783px 474px hsl(90deg, 0%, 84%), -1229px 474px hsl(90deg, 0%, 85%), -85px -16px hsl(90deg, 0%, 82%), 1222px 393px hsl(90deg, 0%, 85%), -620px -432px hsl(90deg, 0%, 91%), -18px -267px hsl(90deg, 0%, 96%), 1052px -23px hsl(90deg, 0%, 85%), 531px -36px hsl(90deg, 0%, 78%), -17px -338px hsl(90deg, 0%, 76%), 1165px 14px hsl(90deg, 0%, 91%), 1200px 447px hsl(90deg, 0%, 100%), -307px -66px hsl(90deg, 0%, 95%), -1408px -450px hsl(90deg, 0%, 84%), -1104px 457px hsl(90deg, 0%, 79%), 215px 69px hsl(90deg, 0%, 97%), 282px -306px hsl(90deg, 0%, 80%), -1293px -184px hsl(90deg, 0%, 87%), -368px -18px hsl(90deg, 0%, 82%), -1157px 160px hsl(90deg, 0%, 98%), -1199px 345px hsl(90deg, 0%, 78%), 1284px -280px hsl(90deg, 0%, 99%), 1253px -163px hsl(90deg, 0%, 83%), -481px -423px hsl(90deg, 0%, 79%), -582px -172px hsl(90deg, 0%, 79%), 285px 34px hsl(90deg, 0%, 84%), -873px 457px hsl(90deg, 0%, 78%), 593px -194px hsl(90deg, 0%, 91%), 277px -275px hsl(90deg, 0%, 87%), -752px -420px hsl(90deg, 0%, 83%), -23px 431px hsl(90deg, 0%, 91%), -727px -26px hsl(90deg, 0%, 97%), 635px -140px hsl(90deg, 0%, 93%), -275px -299px hsl(90deg, 0%, 100%), -1121px 408px hsl(90deg, 0%, 99%), 211px -385px hsl(90deg, 0%, 85%), 849px 182px hsl(90deg, 0%, 86%), -1376px 256px hsl(90deg, 0%, 93%), -921px -47px hsl(90deg, 0%, 100%), -446px 320px hsl(90deg, 0%, 84%), 1186px 107px hsl(90deg, 0%, 91%), -1023px 69px hsl(90deg, 0%, 87%), 515px -285px hsl(90deg, 0%, 79%), 876px 166px hsl(90deg, 0%, 81%), -1092px -352px hsl(90deg, 0%, 76%), -209px -2px hsl(90deg, 0%, 83%), 23px 229px hsl(90deg, 0%, 77%), 1118px 224px hsl(90deg, 0%, 83%), 343px 217px hsl(90deg, 0%, 84%), 488px -206px hsl(90deg, 0%, 93%), 237px 85px hsl(90deg, 0%, 79%), 89px 33px hsl(90deg, 0%, 92%), 1301px -253px hsl(90deg, 0%, 80%), 1238px -54px hsl(90deg, 0%, 95%), 590px 171px hsl(90deg, 0%, 98%), 661px 388px hsl(90deg, 0%, 77%), -773px -71px hsl(90deg, 0%, 81%), 1399px -269px hsl(90deg, 0%, 78%), -906px 159px hsl(90deg, 0%, 90%), 976px -17px hsl(90deg, 0%, 94%), 1115px 368px hsl(90deg, 0%, 87%), 1109px -23px hsl(90deg, 0%, 81%), -907px -208px hsl(90deg, 0%, 89%), 488px -373px hsl(90deg, 0%, 82%), 888px 275px hsl(90deg, 0%, 85%), -496px -390px hsl(90deg, 0%, 87%), -1042px 18px hsl(90deg, 0%, 99%), -897px 452px hsl(90deg, 0%, 76%), 865px -377px hsl(90deg, 0%, 98%), 1092px -319px hsl(90deg, 0%, 84%), -814px -188px hsl(90deg, 0%, 87%), 1006px 39px hsl(90deg, 0%, 92%), 661px -200px hsl(90deg, 0%, 81%), -216px 42px hsl(90deg, 0%, 98%), -419px -428px hsl(90deg, 0%, 92%), -234px -96px hsl(90deg, 0%, 78%), -1008px 138px hsl(90deg, 0%, 98%), -974px 479px hsl(90deg, 0%, 77%), -340px -129px hsl(90deg, 0%, 76%), -849px -119px hsl(90deg, 0%, 90%), 1177px -472px hsl(90deg, 0%, 82%), -269px -136px hsl(90deg, 0%, 78%), -1175px -222px hsl(90deg, 0%, 88%), -428px 295px hsl(90deg, 0%, 87%), 431px 105px hsl(90deg, 0%, 87%), 932px 374px hsl(90deg, 0%, 91%), 109px 25px hsl(90deg, 0%, 83%), 822px 207px hsl(90deg, 0%, 97%), -1450px 138px hsl(90deg, 0%, 100%), -1376px 18px hsl(90deg, 0%, 81%), -629px -43px hsl(90deg, 0%, 81%), -169px -98px hsl(90deg, 0%, 77%), -174px -188px hsl(90deg, 0%, 83%), 1198px 148px hsl(90deg, 0%, 92%), 166px 410px hsl(90deg, 0%, 86%), -1299px 201px hsl(90deg, 0%, 97%), -767px 380px hsl(90deg, 0%, 100%), 457px -110px hsl(90deg, 0%, 95%), 1437px 107px hsl(90deg, 0%, 99%), 520px 312px hsl(90deg, 0%, 85%), 20px -175px hsl(90deg, 0%, 100%), 764px 322px hsl(90deg, 0%, 91%), -304px -9px hsl(90deg, 0%, 100%), 1308px 112px hsl(90deg, 0%, 78%), -69px -394px hsl(90deg, 0%, 79%), -209px -281px hsl(90deg, 0%, 99%), -196px -151px hsl(90deg, 0%, 100%), -571px 87px hsl(90deg, 0%, 93%), 1090px -30px hsl(90deg, 0%, 89%), -1414px 36px hsl(90deg, 0%, 82%), 9px 76px hsl(90deg, 0%, 87%), -832px 412px hsl(90deg, 0%, 99%), -640px 10px hsl(90deg, 0%, 95%), 1261px -118px hsl(90deg, 0%, 96%), -1167px -368px hsl(90deg, 0%, 88%), -714px -78px hsl(90deg, 0%, 97%), 391px 372px hsl(90deg, 0%, 99%), -1235px -431px hsl(90deg, 0%, 89%), 425px 17px hsl(90deg, 0%, 93%), 759px -401px hsl(90deg, 0%, 96%), -966px -245px hsl(90deg, 0%, 91%), -258px -280px hsl(90deg, 0%, 82%), -1199px -451px hsl(90deg, 0%, 80%), 403px 288px hsl(90deg, 0%, 89%), 791px -208px hsl(90deg, 0%, 87%), -1250px -402px hsl(90deg, 0%, 91%), 525px -135px hsl(90deg, 0%, 90%), -721px 353px hsl(90deg, 0%, 77%), -1057px -216px hsl(90deg, 0%, 91%), 157px -254px hsl(90deg, 0%, 99%), 877px -443px hsl(90deg, 0%, 81%), 42px -331px hsl(90deg, 0%, 93%), -520px 238px hsl(90deg, 0%, 85%), -1108px -138px hsl(90deg, 0%, 97%), -772px 95px hsl(90deg, 0%, 95%), 951px 289px hsl(90deg, 0%, 80%), 943px -375px hsl(90deg, 0%, 86%), 1433px -249px hsl(90deg, 0%, 100%), -1350px 256px hsl(90deg, 0%, 79%), 110px 334px hsl(90deg, 0%, 86%), -156px 201px hsl(90deg, 0%, 97%), -1093px -280px hsl(90deg, 0%, 91%), -2px 151px hsl(90deg, 0%, 92%), -150px -91px hsl(90deg, 0%, 100%), 1286px 197px hsl(90deg, 0%, 88%), -184px 176px hsl(90deg, 0%, 86%), -264px 350px hsl(90deg, 0%, 78%), 443px -436px hsl(90deg, 0%, 95%), 360px 322px hsl(90deg, 0%, 85%), 734px 376px hsl(90deg, 0%, 98%), -692px -448px hsl(90deg, 0%, 81%), 1132px -396px hsl(90deg, 0%, 77%), -1348px -435px hsl(90deg, 0%, 86%), -791px -286px hsl(90deg, 0%, 88%), 157px 260px hsl(90deg, 0%, 85%), 412px -234px hsl(90deg, 0%, 80%), 415px 479px hsl(90deg, 0%, 97%), -365px -291px hsl(90deg, 0%, 79%), 496px 468px hsl(90deg, 0%, 85%), 836px 38px hsl(90deg, 0%, 86%), -497px 446px hsl(90deg, 0%, 78%), -776px -271px hsl(90deg, 0%, 84%), 1005px -258px hsl(90deg, 0%, 88%), -272px -160px hsl(90deg, 0%, 89%), 1022px 93px hsl(90deg, 0%, 87%), 817px -165px hsl(90deg, 0%, 83%), -901px 369px hsl(90deg, 0%, 85%), -989px -96px hsl(90deg, 0%, 89%), 1374px 383px hsl(90deg, 0%, 98%), 86px -175px hsl(90deg, 0%, 79%), 1234px 267px hsl(90deg, 0%, 97%);
  -webkit-animation: fly 10s linear infinite;
          animation: fly 10s linear infinite;
  transform-style: preserve-3d;
}
.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  -webkit-animation: fade1 10s linear infinite;
          animation: fade1 10s linear infinite;
}
.stars:after {
  transform: translateZ(-600px);
  -webkit-animation: fade2 10s linear infinite;
          animation: fade2 10s linear infinite;
}

@-webkit-keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@-webkit-keyframes fade1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.red-button {
  background-color: #e44e55;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #e47479;
}

.green-button {
  background-color: #00a07d;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #30c5a5;
}

.blue-button {
  background-color: #004ead;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #3981ca;
}

.yellow-button {
  background-color: #ffc054;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #ffd996;
}

.retro-button,
a {
  position: relative;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  font-size: 2.3333333333vmin;
  font-family: "Open Sans", sans-serif;
  height: 7vmin;
  min-width: 7vmin;
  border-radius: 3.5vmin;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.479);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
}

.retro-button::-moz-focus-inner {
  outline: none;
  border: none;
}

.retro-button:hover {
  box-shadow: -1px -1px 1px #7d878f, 0 0 0 4px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.presentation-content {
  text-align: center;
  position: absolute;
  top: 60vh;
}

.presentation-title {
  color: rgba(0, 0, 0, 0.664);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2vmin;
  font-size: 1.5rem;
}

.top-button-group {
  display: flex;
  padding-bottom: 1rem;
}
.top-button-group > * {
  flex: 1;
}

.bottom-button-group {
  background: #899095;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -1px -1px 1px #969da3, inset -1px -1px 1px #7d878f;
}
.bottom-button-group span {
  display: block;
  font-size: 2.2vmin;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  color: whitesmoke;
  font-size: 2vmin;
}
footer p {
  margin: 0;
}/*# sourceMappingURL=welcomeScreeen.css.map */