body img {
  position: absolute;
  width: 20vw;
  height: 40vmin;
}
body .naveW {
  transform: rotate(45deg);
  left: 20vw;
  top: 20vh;
}
body .alien {
  left: 60vw;
  top: 20vh;
  transform: scale(0.7);
}
body .alienNave {
  transform: scale(0.5);
  left: 10vw;
  top: 50vh;
}

:root {
  background: radial-gradient(#050526 0%, black 90%) -20vw 10vh no-repeat black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  perspective: 340px;
  height: 100%;
  overflow: hidden;
}

.centered {
  position: absolute;
  left: 50vw;
  top: 10vh;
  transform: translateX(-50%) translateY(-50%) rotateX(15deg);
  text-align: center;
}

.cyberspace {
  position: relative;
  font-family: "Cyberspace-Raceway-Back", sans-serif;
  font-size: 10vmin;
  color: black;
  -webkit-text-fill-color: rgb(135, 209, 228);
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: rgb(135, 209, 228);
  filter: url(#extrude);
}

.stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  box-shadow: 307px -255px hsl(90deg, 0%, 76%), 149px 78px hsl(90deg, 0%, 98%), -712px -387px hsl(90deg, 0%, 92%), 1008px 114px hsl(90deg, 0%, 91%), 1026px 418px hsl(90deg, 0%, 77%), -742px -174px hsl(90deg, 0%, 84%), 856px -252px hsl(90deg, 0%, 83%), -1193px -158px hsl(90deg, 0%, 80%), -798px 360px hsl(90deg, 0%, 82%), -999px 298px hsl(90deg, 0%, 94%), -431px 443px hsl(90deg, 0%, 86%), 1172px -195px hsl(90deg, 0%, 79%), 1230px -416px hsl(90deg, 0%, 77%), 615px 215px hsl(90deg, 0%, 96%), -1251px -379px hsl(90deg, 0%, 86%), 736px -426px hsl(90deg, 0%, 82%), -109px -295px hsl(90deg, 0%, 100%), -631px -138px hsl(90deg, 0%, 91%), -1324px 311px hsl(90deg, 0%, 91%), 1392px 312px hsl(90deg, 0%, 82%), -1446px 211px hsl(90deg, 0%, 99%), 892px -277px hsl(90deg, 0%, 80%), -1421px 192px hsl(90deg, 0%, 78%), -1483px 69px hsl(90deg, 0%, 91%), 1328px -2px hsl(90deg, 0%, 92%), 624px -171px hsl(90deg, 0%, 80%), -777px -446px hsl(90deg, 0%, 94%), 155px 5px hsl(90deg, 0%, 100%), -243px -336px hsl(90deg, 0%, 78%), 235px 55px hsl(90deg, 0%, 98%), -931px -330px hsl(90deg, 0%, 85%), -1116px 151px hsl(90deg, 0%, 77%), 1061px -308px hsl(90deg, 0%, 83%), -1373px -479px hsl(90deg, 0%, 99%), -559px 16px hsl(90deg, 0%, 84%), -1286px 179px hsl(90deg, 0%, 83%), -1320px -79px hsl(90deg, 0%, 79%), 216px -65px hsl(90deg, 0%, 79%), -183px -279px hsl(90deg, 0%, 81%), -262px 30px hsl(90deg, 0%, 94%), -941px -246px hsl(90deg, 0%, 82%), -96px 334px hsl(90deg, 0%, 99%), 1064px -466px hsl(90deg, 0%, 84%), -34px -50px hsl(90deg, 0%, 87%), 137px -67px hsl(90deg, 0%, 100%), 816px 345px hsl(90deg, 0%, 99%), -507px 480px hsl(90deg, 0%, 89%), 684px 27px hsl(90deg, 0%, 93%), 244px -113px hsl(90deg, 0%, 78%), 1416px 356px hsl(90deg, 0%, 97%), -1103px -194px hsl(90deg, 0%, 96%), 1249px 32px hsl(90deg, 0%, 99%), -1068px -52px hsl(90deg, 0%, 89%), -677px 313px hsl(90deg, 0%, 92%), 122px 462px hsl(90deg, 0%, 100%), 941px -372px hsl(90deg, 0%, 94%), -625px -441px hsl(90deg, 0%, 87%), 1295px 474px hsl(90deg, 0%, 85%), -207px 264px hsl(90deg, 0%, 87%), 366px 134px hsl(90deg, 0%, 76%), 1263px -197px hsl(90deg, 0%, 82%), -694px -300px hsl(90deg, 0%, 99%), -816px 43px hsl(90deg, 0%, 91%), 893px -244px hsl(90deg, 0%, 90%), -1419px 115px hsl(90deg, 0%, 80%), -270px -437px hsl(90deg, 0%, 100%), -549px -211px hsl(90deg, 0%, 80%), -332px 328px hsl(90deg, 0%, 89%), 795px -353px hsl(90deg, 0%, 99%), -1434px 343px hsl(90deg, 0%, 100%), -522px 401px hsl(90deg, 0%, 90%), 690px -462px hsl(90deg, 0%, 91%), 961px 154px hsl(90deg, 0%, 96%), -717px -298px hsl(90deg, 0%, 96%), 118px 456px hsl(90deg, 0%, 80%), 1469px -257px hsl(90deg, 0%, 95%), 26px 460px hsl(90deg, 0%, 81%), 264px 252px hsl(90deg, 0%, 86%), 971px 313px hsl(90deg, 0%, 94%), -1356px 83px hsl(90deg, 0%, 87%), -797px 201px hsl(90deg, 0%, 76%), -938px -262px hsl(90deg, 0%, 85%), 744px -376px hsl(90deg, 0%, 76%), 1050px -333px hsl(90deg, 0%, 84%), 1279px 439px hsl(90deg, 0%, 76%), -1333px -306px hsl(90deg, 0%, 92%), -1391px -473px hsl(90deg, 0%, 96%), -1355px -269px hsl(90deg, 0%, 77%), 136px -198px hsl(90deg, 0%, 80%), -1063px 121px hsl(90deg, 0%, 99%), -671px -45px hsl(90deg, 0%, 91%), 952px -8px hsl(90deg, 0%, 90%), -246px 18px hsl(90deg, 0%, 78%), -1211px -190px hsl(90deg, 0%, 83%), -970px 164px hsl(90deg, 0%, 88%), -1223px 225px hsl(90deg, 0%, 81%), 1341px -243px hsl(90deg, 0%, 81%), 633px -47px hsl(90deg, 0%, 91%), 178px 9px hsl(90deg, 0%, 81%), 1067px 283px hsl(90deg, 0%, 83%), 207px -192px hsl(90deg, 0%, 99%), 1082px -476px hsl(90deg, 0%, 93%), -155px 254px hsl(90deg, 0%, 81%), 147px -412px hsl(90deg, 0%, 97%), 814px 36px hsl(90deg, 0%, 84%), -289px -276px hsl(90deg, 0%, 77%), 1111px 225px hsl(90deg, 0%, 95%), 538px -358px hsl(90deg, 0%, 78%), 1324px 50px hsl(90deg, 0%, 76%), -167px -223px hsl(90deg, 0%, 81%), -698px 257px hsl(90deg, 0%, 93%), -402px -149px hsl(90deg, 0%, 94%), 1211px 457px hsl(90deg, 0%, 97%), 237px 390px hsl(90deg, 0%, 78%), 422px 240px hsl(90deg, 0%, 95%), -553px 476px hsl(90deg, 0%, 77%), 1477px 421px hsl(90deg, 0%, 92%), 893px 252px hsl(90deg, 0%, 77%), 560px 213px hsl(90deg, 0%, 89%), 500px -21px hsl(90deg, 0%, 89%), 274px 322px hsl(90deg, 0%, 99%), -265px -285px hsl(90deg, 0%, 86%), -634px 186px hsl(90deg, 0%, 76%), 158px -241px hsl(90deg, 0%, 91%), -1383px -379px hsl(90deg, 0%, 77%), 533px -231px hsl(90deg, 0%, 92%), -826px 17px hsl(90deg, 0%, 85%), 847px -135px hsl(90deg, 0%, 78%), -598px 186px hsl(90deg, 0%, 87%), -1122px 239px hsl(90deg, 0%, 80%), -482px 455px hsl(90deg, 0%, 91%), 592px -371px hsl(90deg, 0%, 96%), -451px 255px hsl(90deg, 0%, 81%), 574px 244px hsl(90deg, 0%, 92%), -400px -237px hsl(90deg, 0%, 84%), 180px -342px hsl(90deg, 0%, 77%), -1438px -21px hsl(90deg, 0%, 100%), -538px -322px hsl(90deg, 0%, 82%), 181px 431px hsl(90deg, 0%, 76%), 823px 274px hsl(90deg, 0%, 95%), 1288px 221px hsl(90deg, 0%, 85%), 1154px -11px hsl(90deg, 0%, 94%), -1337px -203px hsl(90deg, 0%, 76%), -528px -198px hsl(90deg, 0%, 83%), 169px -295px hsl(90deg, 0%, 89%), -546px 219px hsl(90deg, 0%, 96%), -1119px -300px hsl(90deg, 0%, 78%), 355px 443px hsl(90deg, 0%, 96%), 1220px -57px hsl(90deg, 0%, 98%), 251px -257px hsl(90deg, 0%, 87%), 354px 412px hsl(90deg, 0%, 78%), 296px -475px hsl(90deg, 0%, 88%), 1025px 296px hsl(90deg, 0%, 81%), 705px 360px hsl(90deg, 0%, 85%), -113px 290px hsl(90deg, 0%, 95%), -15px -227px hsl(90deg, 0%, 83%), -422px 375px hsl(90deg, 0%, 93%), 1290px -415px hsl(90deg, 0%, 96%), 1315px -193px hsl(90deg, 0%, 91%), -1250px 267px hsl(90deg, 0%, 87%), -1187px -199px hsl(90deg, 0%, 100%), 640px 107px hsl(90deg, 0%, 87%), 203px 129px hsl(90deg, 0%, 95%), -413px -79px hsl(90deg, 0%, 78%), -428px -393px hsl(90deg, 0%, 85%), -622px 17px hsl(90deg, 0%, 77%), 242px 379px hsl(90deg, 0%, 76%), -667px 277px hsl(90deg, 0%, 89%), 223px 286px hsl(90deg, 0%, 82%), 1263px -294px hsl(90deg, 0%, 79%), 1361px 285px hsl(90deg, 0%, 88%), 884px -230px hsl(90deg, 0%, 87%), -641px 293px hsl(90deg, 0%, 91%), -307px 73px hsl(90deg, 0%, 93%), -616px 112px hsl(90deg, 0%, 85%), 507px -183px hsl(90deg, 0%, 81%), -394px 138px hsl(90deg, 0%, 99%), 1129px 438px hsl(90deg, 0%, 85%), 273px 336px hsl(90deg, 0%, 88%), -1262px -352px hsl(90deg, 0%, 90%), 1417px 4px hsl(90deg, 0%, 86%), -42px 137px hsl(90deg, 0%, 99%), 726px 322px hsl(90deg, 0%, 98%), 1419px -290px hsl(90deg, 0%, 92%), -1424px 457px hsl(90deg, 0%, 80%), -1136px 314px hsl(90deg, 0%, 81%), 843px 401px hsl(90deg, 0%, 100%), 396px -15px hsl(90deg, 0%, 86%), 915px -232px hsl(90deg, 0%, 94%), 528px -474px hsl(90deg, 0%, 93%), 1156px 395px hsl(90deg, 0%, 76%), -1465px 418px hsl(90deg, 0%, 84%), 260px -334px hsl(90deg, 0%, 81%), 1046px -81px hsl(90deg, 0%, 82%), -1224px 260px hsl(90deg, 0%, 82%), 293px 71px hsl(90deg, 0%, 88%), 1340px -348px hsl(90deg, 0%, 90%), -1085px -144px hsl(90deg, 0%, 98%), 1043px -101px hsl(90deg, 0%, 84%), 799px 215px hsl(90deg, 0%, 85%), -211px 113px hsl(90deg, 0%, 92%), -1490px -249px hsl(90deg, 0%, 93%), 915px -14px hsl(90deg, 0%, 76%), 1233px -349px hsl(90deg, 0%, 98%), -498px -100px hsl(90deg, 0%, 94%), 66px -372px hsl(90deg, 0%, 95%), -990px 199px hsl(90deg, 0%, 84%), -1186px 92px hsl(90deg, 0%, 85%), -33px -110px hsl(90deg, 0%, 99%), 686px -407px hsl(90deg, 0%, 94%), -1496px 381px hsl(90deg, 0%, 90%), -776px -472px hsl(90deg, 0%, 88%), 406px 138px hsl(90deg, 0%, 80%), -1063px -252px hsl(90deg, 0%, 85%), -1174px 348px hsl(90deg, 0%, 92%), -776px 14px hsl(90deg, 0%, 94%), -144px -161px hsl(90deg, 0%, 81%), -586px -70px hsl(90deg, 0%, 95%), 361px 438px hsl(90deg, 0%, 85%), 973px -358px hsl(90deg, 0%, 96%), -685px -209px hsl(90deg, 0%, 97%), 1436px -275px hsl(90deg, 0%, 85%), 1398px -88px hsl(90deg, 0%, 82%), 748px 163px hsl(90deg, 0%, 84%), 1434px 473px hsl(90deg, 0%, 86%), -278px -422px hsl(90deg, 0%, 95%), 1192px -287px hsl(90deg, 0%, 90%), -173px 378px hsl(90deg, 0%, 91%), -1242px -176px hsl(90deg, 0%, 78%), 398px -409px hsl(90deg, 0%, 100%), -1255px 285px hsl(90deg, 0%, 92%), 372px -448px hsl(90deg, 0%, 84%), -834px 424px hsl(90deg, 0%, 94%), 786px 304px hsl(90deg, 0%, 88%), -278px -65px hsl(90deg, 0%, 91%), 842px 417px hsl(90deg, 0%, 77%), -64px -425px hsl(90deg, 0%, 95%), -66px 67px hsl(90deg, 0%, 99%), -1492px -104px hsl(90deg, 0%, 83%), -137px 325px hsl(90deg, 0%, 84%), 851px 436px hsl(90deg, 0%, 78%), 890px 195px hsl(90deg, 0%, 81%), -823px -116px hsl(90deg, 0%, 96%), 1194px -469px hsl(90deg, 0%, 90%), -227px 192px hsl(90deg, 0%, 93%), 216px 167px hsl(90deg, 0%, 81%), -175px -318px hsl(90deg, 0%, 86%), -298px -159px hsl(90deg, 0%, 100%), -758px -419px hsl(90deg, 0%, 83%), -1216px 437px hsl(90deg, 0%, 97%), 1168px -197px hsl(90deg, 0%, 92%), -865px 359px hsl(90deg, 0%, 97%), -940px -29px hsl(90deg, 0%, 86%), 638px -171px hsl(90deg, 0%, 81%), 487px -156px hsl(90deg, 0%, 76%), -973px -431px hsl(90deg, 0%, 92%), 256px 353px hsl(90deg, 0%, 76%), 1208px -145px hsl(90deg, 0%, 83%), 828px 240px hsl(90deg, 0%, 98%), -885px 302px hsl(90deg, 0%, 97%), 1478px -380px hsl(90deg, 0%, 90%), -1090px 292px hsl(90deg, 0%, 86%), -1314px 446px hsl(90deg, 0%, 87%), 758px 151px hsl(90deg, 0%, 78%), 745px -33px hsl(90deg, 0%, 81%), 1012px -366px hsl(90deg, 0%, 94%), -139px -376px hsl(90deg, 0%, 80%), 725px 8px hsl(90deg, 0%, 85%), 1395px -83px hsl(90deg, 0%, 94%), -572px 244px hsl(90deg, 0%, 83%), -529px 480px hsl(90deg, 0%, 84%), -483px -18px hsl(90deg, 0%, 93%), -1209px 116px hsl(90deg, 0%, 76%), -928px -97px hsl(90deg, 0%, 89%), 112px 267px hsl(90deg, 0%, 88%), -836px 124px hsl(90deg, 0%, 83%), 1210px 304px hsl(90deg, 0%, 98%), 1069px -297px hsl(90deg, 0%, 85%), 1271px 426px hsl(90deg, 0%, 88%), 1398px -333px hsl(90deg, 0%, 83%), -1421px 441px hsl(90deg, 0%, 94%), -1470px 110px hsl(90deg, 0%, 95%), 688px 258px hsl(90deg, 0%, 89%), -1311px -459px hsl(90deg, 0%, 87%), 982px 477px hsl(90deg, 0%, 78%), -711px 127px hsl(90deg, 0%, 89%), 1028px 74px hsl(90deg, 0%, 85%), 601px -34px hsl(90deg, 0%, 96%), 1108px 99px hsl(90deg, 0%, 98%), -68px 15px hsl(90deg, 0%, 77%), 190px -61px hsl(90deg, 0%, 89%), 264px -235px hsl(90deg, 0%, 100%), 705px -191px hsl(90deg, 0%, 77%), -467px 389px hsl(90deg, 0%, 92%), -1221px 359px hsl(90deg, 0%, 93%), -462px 319px hsl(90deg, 0%, 98%), 67px 403px hsl(90deg, 0%, 95%), -85px 418px hsl(90deg, 0%, 76%), 1289px 69px hsl(90deg, 0%, 79%), 18px 57px hsl(90deg, 0%, 85%), 237px 197px hsl(90deg, 0%, 99%), -947px 462px hsl(90deg, 0%, 94%), 226px 59px hsl(90deg, 0%, 98%), 1364px 32px hsl(90deg, 0%, 88%), -989px 28px hsl(90deg, 0%, 78%), 1059px 334px hsl(90deg, 0%, 97%), -1352px 287px hsl(90deg, 0%, 78%), 1383px -380px hsl(90deg, 0%, 84%), -919px 259px hsl(90deg, 0%, 100%), 1256px 111px hsl(90deg, 0%, 98%), -880px 393px hsl(90deg, 0%, 79%), -976px -325px hsl(90deg, 0%, 98%), 859px 271px hsl(90deg, 0%, 99%), -442px 452px hsl(90deg, 0%, 92%), -868px 101px hsl(90deg, 0%, 77%), 1300px -100px hsl(90deg, 0%, 90%), 1415px -177px hsl(90deg, 0%, 83%), -1318px -67px hsl(90deg, 0%, 87%), 462px -246px hsl(90deg, 0%, 80%), 1306px 450px hsl(90deg, 0%, 80%), -157px -453px hsl(90deg, 0%, 99%), 1025px 453px hsl(90deg, 0%, 99%), -264px 176px hsl(90deg, 0%, 89%), 1493px 120px hsl(90deg, 0%, 93%), 584px 49px hsl(90deg, 0%, 76%), 1146px -200px hsl(90deg, 0%, 78%), 1081px -102px hsl(90deg, 0%, 86%), -531px -373px hsl(90deg, 0%, 88%), -1026px 466px hsl(90deg, 0%, 76%), -814px 297px hsl(90deg, 0%, 86%), 1450px 248px hsl(90deg, 0%, 88%), 330px 22px hsl(90deg, 0%, 81%), -760px 111px hsl(90deg, 0%, 83%), 1030px -81px hsl(90deg, 0%, 96%), -852px 182px hsl(90deg, 0%, 97%), -1063px 93px hsl(90deg, 0%, 94%), 204px -99px hsl(90deg, 0%, 98%), 131px -30px hsl(90deg, 0%, 100%), 1424px 468px hsl(90deg, 0%, 95%), -578px -76px hsl(90deg, 0%, 93%), 807px 291px hsl(90deg, 0%, 84%), -1199px -179px hsl(90deg, 0%, 84%), 828px -69px hsl(90deg, 0%, 90%), 670px -350px hsl(90deg, 0%, 89%), 417px -237px hsl(90deg, 0%, 76%), -89px 377px hsl(90deg, 0%, 94%), 87px -340px hsl(90deg, 0%, 85%), 1140px 13px hsl(90deg, 0%, 86%), -25px -210px hsl(90deg, 0%, 92%), -530px -200px hsl(90deg, 0%, 89%), -868px 87px hsl(90deg, 0%, 85%);
  -webkit-animation: fly 10s linear infinite;
          animation: fly 10s linear infinite;
  transform-style: preserve-3d;
}
.stars:before, .stars:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  box-shadow: inherit;
}
.stars:before {
  transform: translateZ(-300px);
  -webkit-animation: fade1 10s linear infinite;
          animation: fade1 10s linear infinite;
}
.stars:after {
  transform: translateZ(-600px);
  -webkit-animation: fade2 10s linear infinite;
          animation: fade2 10s linear infinite;
}

@-webkit-keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}

@keyframes fly {
  from {
    transform: translateZ(0px);
  }
  to {
    transform: translateZ(300px);
  }
}
@-webkit-keyframes fade1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade1 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fade2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.red-button {
  background-color: #e44e55;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #e47479;
}

.green-button {
  background-color: #00a07d;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #30c5a5;
}

.blue-button {
  background-color: #004ead;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #3981ca;
}

.yellow-button {
  background-color: #ffc054;
  box-shadow: inset 0.5rem 0.5rem 0.25rem #ffd996;
}

.retro-button,
a {
  position: relative;
  text-decoration: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-sizing: border-box;
  font-size: 2.3333333333vmin;
  font-family: "Open Sans", sans-serif;
  height: 7vmin;
  min-width: 7vmin;
  border-radius: 3.5vmin;
  border: 0;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.479);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
  cursor: pointer;
  margin: 6px 6px;
  letter-spacing: 0.1em;
  transition: all 200ms ease;
}

.retro-button::-moz-focus-inner {
  outline: none;
  border: none;
}

.retro-button:hover {
  box-shadow: -1px -1px 1px #7d878f, 0 0 0 4px rgba(0, 0, 0, 0.2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.presentation-content {
  text-align: center;
  position: absolute;
  top: 60vh;
}

.presentation-title {
  color: rgba(0, 0, 0, 0.664);
  text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2vmin;
  font-size: 1.5rem;
}

.top-button-group {
  display: flex;
  padding-bottom: 1rem;
}
.top-button-group > * {
  flex: 1;
}

.bottom-button-group {
  background: #899095;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: -1px -1px 1px #969da3, inset -1px -1px 1px #7d878f;
}
.bottom-button-group span {
  display: block;
  font-size: 2.2vmin;
}

footer {
  position: absolute;
  display: block;
  bottom: 0;
  color: whitesmoke;
  font-size: 2vmin;
}
footer p {
  margin: 0;
}

.buttonPuntuaciones,
.tick {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.buttonPuntuaciones {
  position: absolute;
  width: 40vmin;
  height: 10vmin;
  background: dodgerblue;
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.67, 0.17, 0.4, 0.83);
}

.buttonPuntuaciones svg {
  transform: rotate(180deg);
  transition: all 0.5s;
  width: 8vmin;
  height: 8vmin;
}

.buttonPuntuaciones__circle {
  width: 10vmin;
  height: 10vmin;
  background: mediumseagreen;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.buttonPuntuaciones:hover {
  cursor: pointer;
}

.tick {
  color: white;
  font-size: 4.1vmin;
  transition: all 0.9s;
}

.nameWindow {
  background-color: #3c4e4a;
  border-radius: 25px;
  position: absolute;
  top: 30%;
  height: 10%;
  width: 20%;
  transform: translateY(-50%);
  display: none;
}
.nameWindow .form1 {
  position: absolute;
  color: white;
  left: 10%;
  top: 30%;
}
.nameWindow .form1 input {
  width: 60%;
}
.nameWindow .uil-times-circle {
  position: absolute;
  left: 80%;
  cursor: pointer;
}/*# sourceMappingURL=welcomeScreeen.css.map */